################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/NetCoreServicos/v16/Server/sqlite3
/src/.vs/NetCoreServicos/DesignTimeBuild
/src/.vs/NetCoreServicos/v16/.suo
/src/CatalogApi.DataAcess/bin/Debug/netcoreapp3.1
/src/CatalogApi.DataAcess/obj/Debug/netcoreapp3.1
/src/CatalogApi.DataAcess/obj
/src/Catalogo.Sql/bin/Debug
/src/Catalogo.Sql/obj/Debug
/src/CatalogoApi/bin/Debug/netcoreapp3.1
/src/CatalogoApi/obj/Debug/netcoreapp3.1
/src/CatalogoApi/obj
/src/CatalogoApi.Dominio/bin/Debug/netcoreapp3.1
/src/CatalogoApi.Dominio/obj
/src/CatalogoApi.Mode/bin/Debug/netcoreapp3.1
/src/CatalogoApi.Mode/obj
/src/CatalogoApi.Tests/bin/Debug/netcoreapp3.1
/src/CatalogoApi.Tests/obj/Debug/netcoreapp3.1
/src/CatalogoApi.Tests/obj
/src/Catalogo.Sql/Catalogo.Sql.dbmdl
/src/Catalogo.SqlCatalogo.Sql.jfm
/src/.vs/NetCoreServicos/v16/TestStore/0
/src/CatalogoApi.Integration.Tests/bin/Debug/netcoreapp3.1
/src/CatalogoApi.Integration.Tests/obj
